<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.liutf.dao.PayMentMapper">
   <insert id="create" parameterType="PayMent" useGeneratedKeys="true" keyProperty="id">
       insert into payment(serial) value (#{serial})
   </insert>
    <resultMap id="basePayMent" type="com.liutf.entity.PayMent">
        <result column="id" property="id"/>
        <result column="serial" property="serial"/>
    </resultMap>
    <select id="getPayMentById" resultMap="basePayMent" parameterType="Long">
        select * from payment where id = #{id}
    </select>
</mapper>